.main {
    height: 100vh;
    display: flex;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.2
}

.main__videos {
    flex-grow: 1;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main__controls {
    background-color: #6264A7;
}

.main__right {
    background-color: #6264A7;
    border-left: 1px solid #6264A7;
}

.main__controls {
    color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #6264A7;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages {
    color: #F5F5F5;
    list-style: none;
}

.main__message_container {
    /* padding: 22px 12px; */
    display: flex;
    height: 76px;
    /* border: 2px solid black; */
}

.main__message_container input {
    flex-grow: 1;
    /* background-color: transparent; */
    border: none;
    color: #46474e;
    padding: 8px;
    word-break: break-all;
    word-wrap: break-word;
}

.main__message_container input:focus {
    outline: #46474e;
    outline-style: solid;
    outline-width: 3px;
    /* border: 3px solid #46474e; */
}

.leave_meeting {
    color: #F5F5F5;
    font-size: 24px;
    border-radius: 10px;
    background: #d6655f;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}


.leave_meeting:hover {
    text-decoration: none;
    color: #F5F5F5;
    background-color: #f02116;
}

.unmute,
.stop {
    color: #CC3B33;
}

button {
    margin: 0 3px 10px 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 99px;
}

button:last-of-type {
    margin: 0;
}

p.borderBelow {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

video {
    vertical-align: top;
    --width: 25vw;
    width: var(--width);
    height: calc(var(--width) * 0.5625);
}

video:last-of-type {
    margin: 0 0 20px 0;
}

video#gumVideo {
    margin: 0 20px 20px 0;
}

div.progress,
div#bitrate {
    margin: 0 0 1em 0;
}

div.progress div.label {
    display: inline-block;
    font-weight: 400;
    width: 8.2em;
}

form {
    margin: 0 0 1em 0;
    white-space: nowrap;
}

progress {
    width: calc(100% - 8.5em);
}

/* dropup-alpha menu */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.dropup-alpha {
    position: relative;
    display: inline-block;
}

.dropup-alpha-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #F5F5F5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropup-alpha-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-alpha-content a:hover {
    background-color: #ccc
}

.show-content {
    display: block;
}

.dropup-alpha:hover .dropbtn {
    background-color: #2980B9;
}

/* end */